<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>

    <ion-title>Event Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>{{ currentEvent?.courseName }}</ion-card-title>
      <ion-card-subtitle>{{ currentEvent?.eventName }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Start Date: <strong>{{currentEvent?.startTime}}</strong></p>
      <p>Due Date: <strong>{{currentEvent?.endTime}}</strong></p>
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <!-- <ion-card-header tappable (click)="collapseCard = !collapseCard">
      <ion-card-title class="ion-text-center">Modify Event</ion-card-title>
    </ion-card-header> -->
    <ion-card-header tappable (click)="collapseCard = !collapseCard">
      <ion-card-title>{{ currentEvent?.courseName }}</ion-card-title>
      <ion-card-subtitle>{{ currentEvent?.eventName }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Start Date: <strong>{{currentEvent?.startTime}}</strong></p>
      <p>Due Date: <strong>{{currentEvent?.endTime}}</strong></p>
    </ion-card-content>
    <ion-card-content *ngIf="!collapseCard">
      <ion-item>
        <ion-input type="text" placeholder="Course Code" [(ngModel)]="courseName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Assignment Title" [(ngModel)]="eventName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="D MMM:HH:mm" [(ngModel)]="startTime"
          [min]="minDate">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="D MMM:HH:mm" [(ngModel)]="endTime" [min]="minDate">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>All Day?</ion-label>
        <ion-checkbox [(ngModel)]="allDay"></ion-checkbox>
      </ion-item>
      <ion-button fill="outline" expand="block" (click)="modify(courseName, eventName, startTime, endTime, allDay)">
        Modify Event </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-row text-right>
    <ion-col size="12">
      <ion-button shape="round" expand="block" color="danger" (click)="remove()">Remove</ion-button>
    </ion-col>
  </ion-row>
</ion-content>