<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>

    <ion-title>Event Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ currentEvent?.courseName }}</ion-card-title>
      <ion-card-subtitle>{{ currentEvent?.eventName }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Start Date: <strong>{{currentEvent?.startTime}}</strong></p>
      <p>Due Date: <strong>{{currentEvent?.endTime}}</strong></p>
    </ion-card-content>
  </ion-card>
</ion-content>