<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Your Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card-title class="title"><strong>Welcome, <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{firstName}} {{lastName}}</strong></ion-card-title>

  <div class="buttons">
    <ion-button class="profileBtn" expand="block" (click)="transferToProfilePage()">Your Profile
    </ion-button>

    <ion-button color="danger" expand="block" (click)="logOut()">Log Out
    </ion-button>
  </div>
</ion-content>