<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Assignment List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Card for adding a new event -->
  <ion-card>
    <ion-card-header tappable (click)="collapseCard = !collapseCard">
      <ion-card-title>New Event</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="!collapseCard">
      <ion-item>
        <ion-input type="text" placeholder="Course Code" [(ngModel)]="courseName"
          (ngModelChange)="courseName=$event.toUpperCase()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="capitalize" type="text" placeholder="Assignment Title" [(ngModel)]="eventName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="D MMM:HH:mm" [(ngModel)]="startTime"
          [min]="minDate">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="D MMM:HH:mm" [(ngModel)]="endTime" [min]="minDate">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>All Day?</ion-label>
        <ion-checkbox [(ngModel)]="allDay"></ion-checkbox>
      </ion-item>
      <ion-button fill="outline" expand="block" (click)="addEvent(courseName, eventName, startTime, endTime, allDay)">
        Add Event </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Your events</ion-label>
    </ion-list-header>
    <ion-item tappable *ngFor="let event of eventList" routerLink="/tabs/tab2/detail/{{ event.id }}">
      <ion-label>
        <h2>{{event?.courseName}}</h2>
        <h3> {{ event?.eventName }} </h3>
        <p>Due Date: <strong>{{getDueTime(event)}}</strong></p>
      </ion-label>
      <circle-progress class="circleProgress"
      [percent]= "this.event.progress"
      [radius]="100"
      [outerStrokeWidth]="20"
      [innerStrokeWidth]="20"
      [space] = "-20"
      [outerStrokeColor]="this.event.color"
      [innerStrokeColor]="'#e7e8ea'"
      [titleFontSize]= "50"
      [unitsFontSize]= "50"
      [showSubtitle] = "false"
      [animation]="false"
      [animationDuration]="300"
      [startFromZero]="false"
      [responsive]="true"
    ></circle-progress>

    </ion-item>

  </ion-list>
  <!-- <circle-progress
  [percent]="progress"
  [radius]="100"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="10"
  [space] = "-10"
  [outerStrokeColor]="'#4882c2'"
  [innerStrokeColor]="'#e7e8ea'"
  [titleFontSize]= "24"
  [unitsFontSize]= "24"
  [showSubtitle] = "false"
  [animation]="true"
  [animationDuration]="300"
  [startFromZero]="false"
  [responsive]="true"
></circle-progress> -->

</ion-content>